doctype html
html
  head
    title= 'Surf In Europe'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home
    br
    a(href='/spotseurope') Europe Surf Spots List
    br
    a(href='/spotsamerica') America Surf Spots List
    br

    block content
