doctype html
html
  head
    title= 'Fifa statistics'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - FIFA Statistics
    br
    a(href='/football') World Cup Champions
    br
    a(href='/goldenball') Golden Ball Winners
    br

    block content
