extends layout

block content
  h1(class="text-info") Top 10 best surf spots in America
  div(class="list-group")
    each spot in spots
      a(href="#", class="list-group-item list-group-item-action")= spot.name + ', ' + spot.country
